@model IEnumerable<WebApp.Models.Student>
@{
} 
<a asp-action="Create" asp-controller="Student" class=" btn btn-outline-danger">Create</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>

        </tr>
    </thead> 
 @foreach(var stud in Model)
            {
<tr>
    <td>@stud.ID</td>
    <td>@stud.FirstName</td>
    <td>@stud.LastName</td>
    <td>@stud.Email</td>
    <td>@stud.Mobile</td>
    <td>@stud.Gender</td> 
    <td>
        <a asp-action="Edit" asp-controller="Student" asp-route-id="@stud.ID" onclick="return confirm
                ('Are you sure to Edit is record ?')">Edit</a> ||
        <a asp-action="Delete" asp-controller="student" asp-route-id="@stud.ID" onclick="return confirm
                ('Are you sure to delete is record')">Delete</a>
    </td>
</tr>
            }
</table>